name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-22.04
    container:
      image: python:3.9.10-slim
    steps:
    - uses: actions/checkout@v3
    - name: Install Docker
      run: |
        sudo apt-get update
        sudo apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
    - name: Start Docker Service
      run: sudo service docker start
    - name: Start docker containers
      run: |
        docker compose -f ./docker-compose.yml up --build -d
    - name: Install tests requirements
      run: |
        python -m pip install --upgrade pip
        pip install -r ./tests/requirements.txt
    - name: Run Tests
      run: |
        pytest -s ./tests
