name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.9.12
    - name: Start docker containers
      run: |
        docker compose -f ./docker-compose.yml up --build -d
    - name: Install tests requirements
      run: |
        python -m pip install --upgrade pip
        pip install -r ./tests/requirements.txt
    - name: Run Tests
      run: |
        pytest -s ./tests
