name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Start docker containers
      run: |
        docker compose -f ./docker-compose.yml up --build -d
    - name: Install tests requirements
      run: |
        pip install -r ./tests/requirements.txt
    - name: Run Tests
      run: |
        pytest -s ./tests
